* {
    box-sizing: border-box;
  }
  
  body {
    background-color: navy;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .text-white{
      color: white
  }
  
  .topnav {
      float: center;
      /*display: block;*/
      color: orange;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
  }
  
  .topnav a:hover {
      background-color: red;
      color: white;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: orange;
    padding: 10px;
  }
  
  .text-center{
    color: orange;
  }
  
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }