body{
    background: #000080;
    font-family: Verdana;
    text-align: justify;
    overflow: hidden;
    
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

#about{
    padding-top: 98px;
    padding-bottom: 101px;
}		
    

.fa-play{
    font-size: 100px;
    
}


#about .p-first{
    margin-bottom: 30px;
}


#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
    
}


#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;			
    
}

#about .about-link{
    padding-left: 0px;
}

#about .about-link li{
    display: inline-block;
}

#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d6c6b2;
    margin-right: 10px;
    font-size: 22px;
    color: #d6c6b2;
    transition: all .3s;
    
}


#about .about-link li a i:hover{
    color: #222222;
    background: #d6c6b2;
    border-color: #d6c6b2;
    
}

#about .about-img{
    position: relative;
    
}

#about-me .about-img .Vick{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;
    
}

.color-3{
    color: orange;
}


.text-white{
    color:white;
}


p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: orange;
}

.Vick{
    width: 550px;
    height: 500px;
    margin-left: -100px;
}

.bio-title{
    text-align: center;
    color: orange;
}

.container{
    
}
